<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.shop.dao.PmsSkuStockMapper" >

    <resultMap id="BaseResultMap" type="com.ssm.shop.pojo.PmsSkuStock" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="stock" property="stock" jdbcType="INTEGER" />
        <result column="low_stock" property="lowStock" jdbcType="INTEGER" />
        <result column="sp1" property="sp1" jdbcType="VARCHAR" />
        <result column="sp2" property="sp2" jdbcType="VARCHAR" />
        <result column="sp3" property="sp3" jdbcType="VARCHAR" />
        <result column="pic" property="pic" jdbcType="VARCHAR" />
        <result column="sale" property="sale" jdbcType="INTEGER" />
        <result column="promotion_price" property="promotionPrice" jdbcType="DECIMAL" />
        <result column="lock_stock" property="lockStock" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, product_id, sku_code, price, stock, low_stock, sp1, sp2, sp3, pic, sale, promotion_price, 
        lock_stock
    </sql>

    <select id="listPmsSkuStockByPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from pms_sku_stock
        where 1=1
        <if test="productId !=null and productId !='' ">
            and product_id=#{productId}
        </if>
        <if test="skuCode !=null and skuCode !='' ">
            and sku_code=#{skuCode}
        </if>
        <if test="currentPage!=-1 and pageSize!=-1">
            limit #{currentPage},#{pageSize}
        </if>
    </select>

    <select id="selectCount" resultType="int">
        select count(1) from pms_sku_stock
        where 1=1
        <if test="productId !=null and productId !='' ">
            and product_id=#{productId}
        </if>
        <if test="skuCode !=null and skuCode !='' ">
            and sku_code=#{skuCode}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select 
        <include refid="Base_Column_List" />
        from pms_sku_stock
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pms_sku_stock
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.ssm.shop.pojo.PmsSkuStock" >
        insert into pms_sku_stock (id, product_id, sku_code, 
            price, stock, low_stock, 
            sp1, sp2, sp3, pic, 
            sale, promotion_price, lock_stock
            )
        values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, 
            #{price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, #{lowStock,jdbcType=INTEGER}, 
            #{sp1,jdbcType=VARCHAR}, #{sp2,jdbcType=VARCHAR}, #{sp3,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
            #{sale,jdbcType=INTEGER}, #{promotionPrice,jdbcType=DECIMAL}, #{lockStock,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.ssm.shop.pojo.PmsSkuStock" >
        insert into pms_sku_stock
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="productId != null" >
                product_id,
            </if>
            <if test="skuCode != null" >
                sku_code,
            </if>
            <if test="price != null" >
                price,
            </if>
            <if test="stock != null" >
                stock,
            </if>
            <if test="lowStock != null" >
                low_stock,
            </if>
            <if test="sp1 != null" >
                sp1,
            </if>
            <if test="sp2 != null" >
                sp2,
            </if>
            <if test="sp3 != null" >
                sp3,
            </if>
            <if test="pic != null" >
                pic,
            </if>
            <if test="sale != null" >
                sale,
            </if>
            <if test="promotionPrice != null" >
                promotion_price,
            </if>
            <if test="lockStock != null" >
                lock_stock,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="productId != null" >
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="skuCode != null" >
                #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="stock != null" >
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="lowStock != null" >
                #{lowStock,jdbcType=INTEGER},
            </if>
            <if test="sp1 != null" >
                #{sp1,jdbcType=VARCHAR},
            </if>
            <if test="sp2 != null" >
                #{sp2,jdbcType=VARCHAR},
            </if>
            <if test="sp3 != null" >
                #{sp3,jdbcType=VARCHAR},
            </if>
            <if test="pic != null" >
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="sale != null" >
                #{sale,jdbcType=INTEGER},
            </if>
            <if test="promotionPrice != null" >
                #{promotionPrice,jdbcType=DECIMAL},
            </if>
            <if test="lockStock != null" >
                #{lockStock,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.shop.pojo.PmsSkuStock" >
        update pms_sku_stock
        <set >
            <if test="productId != null" >
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="skuCode != null" >
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="stock != null" >
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="lowStock != null" >
                low_stock = #{lowStock,jdbcType=INTEGER},
            </if>
            <if test="sp1 != null" >
                sp1 = #{sp1,jdbcType=VARCHAR},
            </if>
            <if test="sp2 != null" >
                sp2 = #{sp2,jdbcType=VARCHAR},
            </if>
            <if test="sp3 != null" >
                sp3 = #{sp3,jdbcType=VARCHAR},
            </if>
            <if test="pic != null" >
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="sale != null" >
                sale = #{sale,jdbcType=INTEGER},
            </if>
            <if test="promotionPrice != null" >
                promotion_price = #{promotionPrice,jdbcType=DECIMAL},
            </if>
            <if test="lockStock != null" >
                lock_stock = #{lockStock,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ssm.shop.pojo.PmsSkuStock" >
        update pms_sku_stock
        set product_id = #{productId,jdbcType=BIGINT},
            sku_code = #{skuCode,jdbcType=VARCHAR},
            price = #{price,jdbcType=DECIMAL},
            stock = #{stock,jdbcType=INTEGER},
            low_stock = #{lowStock,jdbcType=INTEGER},
            sp1 = #{sp1,jdbcType=VARCHAR},
            sp2 = #{sp2,jdbcType=VARCHAR},
            sp3 = #{sp3,jdbcType=VARCHAR},
            pic = #{pic,jdbcType=VARCHAR},
            sale = #{sale,jdbcType=INTEGER},
            promotion_price = #{promotionPrice,jdbcType=DECIMAL},
            lock_stock = #{lockStock,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>